<template>
  <div id="AddTodo">
    <div>
      <form @submit="onSubmit">
        <input type="text" v-model.trim="title" />
        <input type="submit" value="submit" />
      </form>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex';
export default {
  name: "AddTodo",
  data(){
    return{
      title:''
    }
  },
  methods:{
    ...mapActions(['addTodo']),
    onSubmit(e){
      e.preventDefault();
      this.addTodo(this.title)
    }
  }
};
</script>

<style scoped></style>
