<template>
  <div id="Todo">
      <div v-for="todo in allTodos" :key="todo.id" >
          {{todo.title}}
      </div>
  </div>
</template>
<script>
import { mapGetters,mapActions } from "vuex";
export default {
  name: "todos",
  methods:{
      ...mapActions(['getTodo'])
  },
  computed : mapGetters(['allTodos']),
  created(){
      this.getTodo()
  }
};
</script>
<style scoped></style>
