<template>
  <div id="app">
    <img src="./assets/logo.png">
    <AddTodo/>
    <todos/>
    <!-- <router-view/> -->
  </div>
</template>

<script>
import TodoComponents from '@/components/TodoComponents'
import AddTodo from '@/components/AddTodoComponents'
export default {
  name: 'App',
  components:{
    'todos':TodoComponents,
    'AddTodo':AddTodo
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
